{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Home
{% endblock %}

{% block body %}
	<main
		class="mt-5">

		{# <section>
									<div class="d-flex">
										<div class="search">
											{{ form_start(form) }}
											{{ form_widget(form) }}
											{{ form_end(form) }}
										</div>
									</div>
						
									<tbody>
										{% for project in searchProjects %}
											<tr>
												<td>{{ project.name }}</td>
												<td>{{ project.date ? project.date|date('d-m-Y') }}</td>
												<td>{{project.status.name}}</td>
						
											</tr>
										{% else %}
											<tr>
												<td colspan="6">Aucun résultat</td>
											</tr>
										{% endfor %}
									</tbody>
								</section> #}
						</tr>
					{% else %}
						<tr>
							<td colspan="6">Aucun résultat</td>
						</tr>
					{% endfor %}
				</tbody>
			</section>
		{% endif %}


		<div class="row">
			<section class="my-3 d-flex justify-content-center">
				<div class="title rounded-pill my-2 float-start">
					<h3 class="text-white text-center px-3 my-2">Lights on</h3>
				</div>
			</section>
			<div class="row gap-5 justify-content-evenly">
				<div class="card glass col-lg-4">
					<div class="card-body d-flex flex-column justify-content-between h-100">
						<h5 class="card-title text-white border-bottom">The most successfull idea</h5>
						<h4 class="card-subtitle mb-2 text-light">Mix skills and ideas</h4>
						<p class="card-text text-white">A collaborating platform to make your wish come true</p>
						<a href="#" class="card-link">See more</a>
					</div>
				</div>
				<div class="rounded glass col-lg-4 d-flex flex-column justify-content-between h-100">
					<div class="card-body">
						<h5 class="card-title text-white border-bottom">Do you know this one ?</h5>
						<h4 class="card-subtitle mb-2 text-light">Share your car</h4>
						<p class="card-text text-white">BlablaCar but just for your employees and by your employees</p>
						<a href="#" class="card-link">See more</a>
					</div>
				</div>
			</div>


			<section class="my-4 d-flex flex-column align-items-center table-bottom">
				<div class="title rounded-pill my-2 float-start">
					<h3 class="text-white px-3 my-2">Last themes</h3>
				</div>
				<table class="table align-middle my-5 w-75">
					<thead>
						<tr class="text-light title rounded-pill my-2">
							<th>Project</th>
							<th>Name</th>
							<th class="text-center">Launch</th>
							<th class="text-center">Status</th>
							<th class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for project in lastProjects %}
							<tr>
								<td></td>
								<td class="text-white">{{ project.name }}</td>
								<td class="text-white text-center">{{ project.date|date('d-m-Y') }}</td>
								<td class="text-white text-center">{{ project.status.name }}</td>
								<td class="d-flex justify-content-center gap-3">
									<p class="btn bg-danger align-middle tableDanger rounded-pill my-2 float-start">Unfollow</p>
									<p class="btn bg-success align-middle tableJoin rounded-pill my-2 float-start">Join</p>
									<p class="btn bg-info align-middle tableView rounded-pill my-2 float-start">
										<a class="text-decoration-none" href="{{ path('dashboard_show_project', {id: project.id}) }}">View</a>
									</p>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</section>

		</div>

	</main>
{% endblock %}
