{% extends 'base.html.twig' %}

{% block title %}| Idea
{% endblock %}

{% block body %}
	<main class="ideaz d-flex flex-column align-items-center mt-5">
		<h1 class="text-white my-4">{{ project.name }}</h1>

		<section class="testBubble row align-items-center mt-5 justify-content-center">
			{% for idea in ideas %}
			<div class="box d-flex justify-content-center align-items-center">
				<a type="button" data-bs-toggle="modal" data-bs-target="#{{ idea.name }}">
					<h3 class="text-white text-center">{{ idea.name }}</h3>
				</a>
			</div>
			<div class="modal fade" id="{{ idea.name }}" tabindex="-1" aria-labelledby="{{ idea.name }}Label" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="{{ idea.name }}Label">{{ idea.name }}</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								{{ idea.description }}
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="box d-flex justify-content-center align-items-center">
				<a href="{{path('app_idea_new', {id: project.id})}}" class="text-white text-center fs-3 text-decoration-none">Another idea</a>
			</div>
		</section>



			{% endfor %}
	</main>
{% endblock %}
