{% extends 'base.html.twig' %}

{% block title %}
	| Dashboard
{% endblock %}

{% block body %}
	<main class="dashboard">
		<div class="p-3 mt-5 d-flex flex-column align-items-center">
			<div class="d-flex justify-content-center">
				<div class="title rounded-pill mt-5">
					<h2 class="text-white px-4 my-2">My bubbles</h2>
				</div>
			</div>
			<section class="my-5 w-75">
				<table class="table align-middle">
					<thead>
						<tr class="text-light title rounded-pill my-2">
							<th>Idea</th>
							<th>Name</th>
							<th class="text-center">Followers</th>
							<th class="text-center">Participants</th>
							<th class="text-center">Status</th>
							<th class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for idea in myIdeas %}
							<tr>
								<td></td>
								<td class="text-light">{{ idea.name }}</td>
								<td class="text-light text-center">{{ idea.project.countFollowing ?? idea.id + 5}}</td>
								<td class="text-light text-center">{{ idea.project.participants ?? idea.id  }}</td>
								<td class="text-center text-light border ">Work in progress</td>
								<td class="text-center">
									<a href="#" class="btn bg-danger tableDanger rounded-pill my-2 text-light">Unfollow</a>
									<a href="#" class="btn bg-success tableJoin rounded-pill my-2 text-light">Join</a>
									<a class="btn bg-info tableView rounded-pill my-2 text-light" href="{{ path('dashboard_show_idea', {id: idea.id}) }}">View</a>
								</td>
							</tr>
						</p>
					</tbody>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table></section><section class="my-5 w-75">
<table class="table align-middle">
	<thead>
		<tr class="text-light title rounded-pill my-2">
			<th>Project</th>
			<th>Name</th>
			<th>Date</th>
			<th class="text-center">Followers</th>
			<th class="text-center">Participants</th>
			<th class="text-center">Status</th>
			<th class="text-center">Actions</th>
		</tr>
	</thead>
	<tbody>

		{% for project in app.user.projectsFollowing %}
			<tr>
				<td></td>
				<td class="text-light">{{ project.name }}</td>
				<td class="text-light">{{ project.date|date ('d-m-Y') }}</td>
				<td class="text-light text-center">{{ project.countFollowers|length }}</td>
				<td class="text-light text-center">{{ project.participants|length }}</td>
				<td class="text-center text-light border ">Help Idea</td>
				<td class="text-light text-center">
					<a href="#" class="btn bg-danger tableDanger rounded-pill my-2 text-light">Unfollow</a>
					<a href="#" class="btn bg-success tableJoin rounded-pill my-2 text-light">Join</a>
					<a class="btn bg-info tableView rounded-pill my-2 text-light" href="{{ path('dashboard_show_project', {id: project.id}) }}">View</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table></div></section></main>{% endblock %}
