{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| News
{% endblock %}


{% block body %}
	<div class="p-3 mb-5">
		<h2 class="text-primary">My news</h2>
		<table class="table align-middle">
			<thead>
				<tr class="bg-dark text-light">
					<th>Type</th>
					<th class="text-center">Name</th>
					<th>Followers</th>
					<th>Participants</th>
					<th>Statut</th>
				</tr>
			</thead>
			<tbody>
				{% for project in app.user.projects %}
					<tr href="{{ path('dashboard_show_project', {id: project.id}) }}">
						<td>
							{% if project.isProject %}
								Project
							{% else %}
								Idea
							{% endif %}
						</td>
						<td class="text-light">{{ project.name }}</td>
						<td>{{ project.countFollowers }}</td>
						<td>{{ project.participants }}</td>
						<td class="badge bg-success">{{ project.statut }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
