{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!
{% endblock %}

{% block body %}
	<main class="project-detail mt-5">
		<section class="my-3 d-flex justify-content-center">
			<div class="title rounded-pill my-2 float-start mt-5">
				<h2 class="text-white text-center px-3 my-2">
					{{ project.name }}
				</h2>
			</div>
		</section>
		<div class="d-flex justify-content-end me-5">
			<a href="/" class="ms-5 btn btn-primary">
				<i class="bi bi-arrow-left"></i>Retour à la liste</a>

		</div>
		<div class="row gap-5 mx-4">
			<div class="card glass col-lg-4">
				<div class="card-body d-flex flex-column justify-content">
					<h2 class="card-title text-white border-bottom">Participants</h2>
					<table>
						{% for participant in project.participants %}
							<tr>
								<td>{{ participant.name }}</td>
							</tr>

						{% else %}
							<tr>
								<td colspan="6">Aucun résultat</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
		<a href="/" class="mt-5 ms-5 mb-3 btn btn-secondary">
			<i class="bi bi-arrow-left"></i>Add a report</a>
		<div class="row gap-5 mx-4">
			<div class="card glass col-lg-8">
				<div class="card-body d-flex flex-column justify-content">

					<h2 class="card-title text-white border-bottom">Reports</h2>
					<table>
						{% for report in project.reports %}
							<tr>
								<td>{{ report.name }}</td>
								<td>{{ report.description }}</td>
								<td>{{ report.date ? report.date|date('d-m-Y') : '' }}</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="6">Aucun résultat</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<a href="{{ path('app_report_new', {'id': project.id}) }}" class="mt-5 ms-5 mb-3 btn btn-secondary">
	<i class="bi bi-arrow-left"></i>Add a report</a>
<div class="row gap-5 mx-4">
	<div class="card glass col-lg-8">
		<div class="card-body d-flex flex-column justify-content">

			<h2 class="card-title text-white border-bottom">Reports </h2>
			<table>
				{% for report in project.reports %}
					<tr>
						<td>{{ report.name }}</td>
						<td>{{ report.description }}</td>
						<td>{{ report.date ? report.date|date('d-m-Y') : '' }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">Aucun résultat</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div></main>{% endblock %}
