{% extends 'base.html.twig' %}

{% block title %}New Project
{% endblock %}

{% block body %}

	<main class="d-flex flex-column new-idea my-5">
		<div class="row  rounded float-start py-5">
			
				<div class="col-md-6 offset-md-3 text-center">
					<h1 class="text-white text-center my-4">Create new project</h1>
					<a href="{{ path('home_index') }}" class="btn title rounded-pill my-2 w-25">Back</a>
				</div>
				</div>
		<div class="row ">

				<div class=" col-lg-6 offset-md-3">
					{{ form_start(form) }}
					{{ form_widget(form) }}
					<button class="btn title rounded-pill my-2 w-25">{{ button_label|default('Save') }}</button>
					{{ form_end(form) }}


				</div>
	
		</div>

	</main>
{% endblock %}
